<div style="height: 50%;" class="card">
	<div class="card-header">
		<h1 class="display"> About Clubhouse</h1>
	</div>
	<div class="card-body">
		<h4> Clubhouse is a bare bones social media platform.</h4>
		<ul>
			<li>Make or join a club in your dashboard. </li>
			<li>Write posts and comments</li>
			<li>Usernames are only visible to club members.</li>
		</ul>
	</div>
</div>