<nav class="navbar bg-primary navbar-light navbar-expand-sm" style="margin-top: 0;">
	<div class="container-fluid">
    	<a class="navbar-brand" href="#">Clubhouse</a>
 	</div>
	<div class="container-fluid" style="flex-direction: row-reverse;">
		<ul class='navbar-nav'>
			<% if user_signed_in? %>
			<li class="nav-item">
				<%= link_to 'Posts', posts_path, class: 'nav-link'%>
			</li>
			<li class="nav-item">
				<%= link_to 'Dashboard', clubs_path, class: "nav-link"%>
			</li>
			<li class='nav-item'>
				<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link"%>
			</li>
			<% else %>
			<li class='nav-item'>
				<%= link_to 'Sign In', new_user_session_path, class: "nav-link"%>
			</li>
			<% end %>
		</ul>
	</div>
</nav>
